function Memory.init 0
push constant 2048
pop static 0
push constant 2048
pop static 1
push static 0
push constant 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
add
push constant 14335
pop temp 0
pop pointer 1
push temp 0
pop that 0
function Memory.peek 0
