push constant 2
call Memory.alloc 1
pop pointer 0
push argument 1
call Array.new 1
pop field 1
push constant 0
pop field 0
push constant 0
return
function String.dispose 0
push argument 0
pop pointer 0
push constant 0
call Memory.deAlloc 1
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push field 0
return
function String.charAt 0
push argument 0
pop pointer 0
push field 1
push argument 1
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push field 1
push argument 1
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push field 1
push field 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push field 0
push constant 1
add
pop field 0
push constant 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push field 0
push constant 1
sub
pop field 0
push constant 0
return
function String.intValue 0
push argument 0
pop pointer 0
push constant 0
call String.stringToInt 1
return
function String.setInt 2
push argument 0
pop pointer 0
push argument 1
call String.string2Int 1
pop local 0
push local 0
call String.length 1
pop field 0
push constant 0
pop local 1
label String.flow.0
push local 1
push local 0
call String.length 1
lt
not
if-goto String.flow.1
push field 1
push local 1
add
push local 0
call String.charAt 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto String.flow.0
label String.flow.1
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
function String.int2String 3
push argument 0
push constant 10
call Math.mod 2
pop local 0
push argument 0
push constant 10
lt
not
if-goto String.flow.2
push argument 0
push constant 48
add
pop local 1
push constant 1
call String.new 1
pop local 2
push local 2
push local 1
call String.appendChar 2
push local 2
return
goto String.flow.3
label String.flow.2
label String.flow.3
function String.string2Int 4
push argument 0
call String.length 1
pop local 3
label String.flow.4
push local 2
push local 3
lt
not
if-goto String.flow.5
push argument 0
push local 2
call String.charAt 2
pop local 0
push local 1
push constant 10
call Math.multiply 2
